# Dependency directories
node_modules/
# Optional npm cache directory
.npm
# next.js build output
.next
dist/
.idea
*.iml
lesson 5/js2-27.09/.idea/misc.xml
lesson 5/js2-27.09/.idea/modules.xml
lesson 5/js2-27.09/.idea/vcs.xml
lesson 5/js2-27.09/.idea/workspace.xml
lesson7/info.txt
lesson7/node_modules/jquery/AUTHORS.txt
lesson7/node_modules/jquery/bower.json
lesson7/node_modules/jquery/dist/core.js
lesson7/node_modules/jquery/dist/jquery.js
lesson7/node_modules/jquery/dist/jquery.min.js
lesson7/node_modules/jquery/dist/jquery.min.map
lesson7/node_modules/jquery/dist/jquery.slim.js
lesson7/node_modules/jquery/dist/jquery.slim.min.js
lesson7/node_modules/jquery/dist/jquery.slim.min.map
lesson7/node_modules/jquery/external/sizzle/dist/sizzle.js
lesson7/node_modules/jquery/external/sizzle/dist/sizzle.min.js
lesson7/node_modules/jquery/external/sizzle/dist/sizzle.min.map
lesson7/node_modules/jquery/external/sizzle/LICENSE.txt
lesson7/node_modules/jquery/LICENSE.txt
lesson7/node_modules/jquery/package.json
lesson7/node_modules/jquery/README.md
lesson7/node_modules/jquery/src/.eslintrc.json
lesson7/node_modules/jquery/src/ajax.js
lesson7/node_modules/jquery/src/ajax/jsonp.js
lesson7/node_modules/jquery/src/ajax/load.js
lesson7/node_modules/jquery/src/ajax/parseXML.js
lesson7/node_modules/jquery/src/ajax/script.js
lesson7/node_modules/jquery/src/ajax/var/location.js
lesson7/node_modules/jquery/src/ajax/var/nonce.js
lesson7/node_modules/jquery/src/ajax/var/rquery.js
lesson7/node_modules/jquery/src/ajax/xhr.js
lesson7/node_modules/jquery/src/attributes.js
lesson7/node_modules/jquery/src/attributes/attr.js
lesson7/node_modules/jquery/src/attributes/classes.js
lesson7/node_modules/jquery/src/attributes/prop.js
lesson7/node_modules/jquery/src/attributes/support.js
lesson7/node_modules/jquery/src/attributes/val.js
lesson7/node_modules/jquery/src/callbacks.js
lesson7/node_modules/jquery/src/core.js
lesson7/node_modules/jquery/src/core/access.js
lesson7/node_modules/jquery/src/core/camelCase.js
lesson7/node_modules/jquery/src/core/DOMEval.js
lesson7/node_modules/jquery/src/core/init.js
lesson7/node_modules/jquery/src/core/nodeName.js
lesson7/node_modules/jquery/src/core/parseHTML.js
lesson7/node_modules/jquery/src/core/ready-no-deferred.js
lesson7/node_modules/jquery/src/core/ready.js
lesson7/node_modules/jquery/src/core/readyException.js
lesson7/node_modules/jquery/src/core/stripAndCollapse.js
lesson7/node_modules/jquery/src/core/support.js
lesson7/node_modules/jquery/src/core/toType.js
lesson7/node_modules/jquery/src/core/var/rsingleTag.js
lesson7/node_modules/jquery/src/css.js
lesson7/node_modules/jquery/src/css/addGetHookIf.js
lesson7/node_modules/jquery/src/css/adjustCSS.js
lesson7/node_modules/jquery/src/css/curCSS.js
lesson7/node_modules/jquery/src/css/hiddenVisibleSelectors.js
lesson7/node_modules/jquery/src/css/showHide.js
lesson7/node_modules/jquery/src/css/support.js
lesson7/node_modules/jquery/src/css/var/cssExpand.js
lesson7/node_modules/jquery/src/css/var/getStyles.js
lesson7/node_modules/jquery/src/css/var/isHiddenWithinTree.js
lesson7/node_modules/jquery/src/css/var/rboxStyle.js
lesson7/node_modules/jquery/src/css/var/rnumnonpx.js
lesson7/node_modules/jquery/src/css/var/swap.js
lesson7/node_modules/jquery/src/data.js
lesson7/node_modules/jquery/src/data/Data.js
lesson7/node_modules/jquery/src/data/var/acceptData.js
lesson7/node_modules/jquery/src/data/var/dataPriv.js
lesson7/node_modules/jquery/src/data/var/dataUser.js
lesson7/node_modules/jquery/src/deferred.js
lesson7/node_modules/jquery/src/deferred/exceptionHook.js
lesson7/node_modules/jquery/src/deprecated.js
lesson7/node_modules/jquery/src/dimensions.js
lesson7/node_modules/jquery/src/effects.js
lesson7/node_modules/jquery/src/effects/animatedSelector.js
lesson7/node_modules/jquery/src/effects/Tween.js
lesson7/node_modules/jquery/src/event.js
lesson7/node_modules/jquery/src/event/ajax.js
lesson7/node_modules/jquery/src/event/alias.js
lesson7/node_modules/jquery/src/event/focusin.js
lesson7/node_modules/jquery/src/event/support.js
lesson7/node_modules/jquery/src/event/trigger.js
lesson7/node_modules/jquery/src/exports/amd.js
lesson7/node_modules/jquery/src/exports/global.js
lesson7/node_modules/jquery/src/jquery.js
lesson7/node_modules/jquery/src/manipulation.js
lesson7/node_modules/jquery/src/manipulation/_evalUrl.js
lesson7/node_modules/jquery/src/manipulation/buildFragment.js
lesson7/node_modules/jquery/src/manipulation/getAll.js
lesson7/node_modules/jquery/src/manipulation/setGlobalEval.js
lesson7/node_modules/jquery/src/manipulation/support.js
lesson7/node_modules/jquery/src/manipulation/var/rcheckableType.js
lesson7/node_modules/jquery/src/manipulation/var/rscriptType.js
lesson7/node_modules/jquery/src/manipulation/var/rtagName.js
lesson7/node_modules/jquery/src/manipulation/wrapMap.js
lesson7/node_modules/jquery/src/offset.js
lesson7/node_modules/jquery/src/queue.js
lesson7/node_modules/jquery/src/queue/delay.js
lesson7/node_modules/jquery/src/selector-native.js
lesson7/node_modules/jquery/src/selector-sizzle.js
lesson7/node_modules/jquery/src/selector.js
lesson7/node_modules/jquery/src/serialize.js
lesson7/node_modules/jquery/src/traversing.js
lesson7/node_modules/jquery/src/traversing/findFilter.js
lesson7/node_modules/jquery/src/traversing/var/dir.js
lesson7/node_modules/jquery/src/traversing/var/rneedsContext.js
lesson7/node_modules/jquery/src/traversing/var/siblings.js
lesson7/node_modules/jquery/src/var/arr.js
lesson7/node_modules/jquery/src/var/class2type.js
lesson7/node_modules/jquery/src/var/concat.js
lesson7/node_modules/jquery/src/var/document.js
lesson7/node_modules/jquery/src/var/documentElement.js
lesson7/node_modules/jquery/src/var/fnToString.js
lesson7/node_modules/jquery/src/var/getProto.js
lesson7/node_modules/jquery/src/var/hasOwn.js
lesson7/node_modules/jquery/src/var/indexOf.js
lesson7/node_modules/jquery/src/var/isFunction.js
lesson7/node_modules/jquery/src/var/isWindow.js
lesson7/node_modules/jquery/src/var/ObjectFunctionString.js
lesson7/node_modules/jquery/src/var/pnum.js
lesson7/node_modules/jquery/src/var/push.js
lesson7/node_modules/jquery/src/var/rcssNum.js
lesson7/node_modules/jquery/src/var/rnothtmlwhite.js
lesson7/node_modules/jquery/src/var/slice.js
lesson7/node_modules/jquery/src/var/support.js
lesson7/node_modules/jquery/src/var/toString.js
lesson7/node_modules/jquery/src/wrap.js
